* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    box-sizing: border-box;
    background: #f5f5f5;
    min-height: 100vh;
}

button {
    padding: 10px 15px;
    background: #3b009b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background: #3b009b;
}
.container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
}
button{
    /* display: flex; */
    /* text-align: center; */
    justify-content: space-between;
    align-items: center;
}